* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input {
  width: 300px;
  height: 30px;
  margin-bottom: 50px;
}





h2 {
  font-size: 26px;
}


body {
    background-color: #141413;
    color: white;
    font-family: 'Heebo', sans-serif;
  }

/* HEADER */
.menu-bar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-color: #141413;
}
  .menu-bar .logo {
    height: 25px;
    margin-right: auto;
  }

/* MAIN */
main {
  padding: 100px 50px 50px;
}
.movies {
    display: flex;
    flex-wrap: wrap;
}
.series {
    display: flex;
    flex-wrap: wrap;
}

  .element {
      position: relative;
      margin: 2px;
      width: calc(20% - 4px);
      padding-top: 30%;
      cursor: pointer;
  }
  @media screen and (max-width:1300px) {
    .element {
      width: calc(25% - 4px);
      padding-top: 37.5%;
    }
  }
  @media screen and (max-width:992px) {
    .element {
      width: calc(33.3% - 4px);
      padding-top: 49.95%;
    }
  }
  @media screen and (max-width:700px) {
    .element {
      width: calc(50% - 4px);
      padding-top: 75%;
    }
  }

  .content {
      position: absolute;
      display:flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      border-radius: 2px;
  }
      .content img {
        height: 100%;
        transition: transform 0.4s ease-in-out;
      }
      .content img.active {
        transform: scale(1.05);
      }
    .info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      align-items: flex-end;
      z-index: 3;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1) 100%);
    }
    .info.active {
      display: block;
      opacity: 1;
      background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1) 100%);
    }
    .tit {
      font-size: 26px;
      line-height: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 25px 30px;
    }
    .flags {
      width: 20px;
      vertical-align: middle;
    }
    .stars {
      font-size: 12px;
    }
    .lang {
      font-size: 12px;
    }

.details {
  z-index: -1;
  width: 70%;
  height: 70vh;
  position: fixed;
  padding: 100px 35% 50px;
  top: 15%;
  left: 15vh;
  opacity: 0;
  transition: all .2s ease-in-out;
  background-color: #141413
}
@media screen and (max-width:992px) {
  .details {

    padding: 100px 15% 50px;
  }
}

.details.show {
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.95;
  transition: all .2s ease-in-out;
}
